.desc-text {
  font-weight:700;
  min-width: 14rem;
  max-width: 27rem;
}

.dessert-mix {
  color: #FF6F89;
  font-weight:900;
  text-shadow: 
  -1px -1px 0 #fff,  
  1px -1px 0 #fff,
  -1px 1px 0 #fff,
  1px 1px 0 #fff,
  0px 0px 1px #fff; 
  text-transform: uppercase;
}

.form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

input {
  background-color: #FF6F89;
  border: 2px solid #FFD101;
}

label {
  color: rgba(255, 255, 255, 0.5);
}

::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Montserrat', sans-serif;
  opacity: 1; /* Firefox */
  padding: 1rem;
}

.questions-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.chew-crew-container {
  align-items: center;
  display: flex;
  flex-direction: column;

}

.submit-button {
  background-color: #16478E;
  border: none;
  font-size: medium;
  text-transform: uppercase;
}

.title-text {
  font-size: 40px;
  margin-bottom: 3rem;
  text-transform: uppercase;
}